*~

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Recycle Bin used on file shares
$RECYCLE.BIN/


# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
.build/
[Bb]in/
[Oo]bj/

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# NCrunch files
*.ncrunchproject
*.ncrunchsolution

# VsCode 
.vscode/


highscore.db

*.sln
HighscoreApi/Migrations/